In [114]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\documentos victor\projeto12-08\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [115]:
import pandas as pd

url1 = 'dataset/credit_risk_dataset.csv'

pd.read_csv(url1,sep =',')

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [116]:
dados = pd.read_csv(url1)

In [117]:
dados.head(300)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
295,23,93000,RENT,0.0,DEBTCONSOLIDATION,D,25000,14.59,1,0.27,Y,2
296,22,175000,RENT,6.0,VENTURE,C,3500,11.91,0,0.02,Y,2
297,23,175000,MORTGAGE,3.0,EDUCATION,A,7200,8.38,0,0.04,N,3
298,25,174708,RENT,9.0,VENTURE,B,9000,10.59,0,0.05,N,3
299,25,174000,MORTGAGE,2.0,DEBTCONSOLIDATION,C,8800,14.27,0,0.05,N,3

In [118]:
dados.tail(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32571,60,45600,RENT,1.0,VENTURE,B,20000,10.00,1,0.44,N,26
32572,52,52000,OWN,0.0,PERSONAL,A,9600,8.49,0,0.18,N,22
32573,56,90000,MORTGAGE,0.0,PERSONAL,A,7200,6.17,0,0.08,N,19
32574,52,65004,RENT,4.0,PERSONAL,D,20000,15.58,1,0.31,Y,19
32575,52,64500,RENT,0.0,EDUCATION,B,5000,11.26,0,0.08,N,20
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [119]:
dados.shape

(32581, 12)

In [120]:
dados.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [121]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [122]:
import pandas as pd

# Supondo que 'dados' seja o seu DataFrame
dados.rename(columns={
    'person_age': 'idade_pessoa',
    'person_income': 'renda_pessoa',
    'person_home_ownership': 'propriedade_imovel_pessoa',
    'person_emp_length': 'tempo_emprego_pessoa',
    'loan_intent': 'intencao_emprestimo',
    'loan_grade': 'classe_emprestimo',
    'loan_amnt': 'valor_emprestimo',
    'loan_int_rate': 'taxa_juros_emprestimo',
    'loan_status': 'status_emprestimo',
    'loan_percent_income': 'percentual_renda_emprestimo',
    'cb_person_default_on_file': 'default_pessoa_no_arquivo',
    'cb_person_cred_hist_length': 'comprimento_historico_credito_pessoa'
}, inplace=True)

In [123]:
dados

,idade_pessoa,renda_pessoa,propriedade_imovel_pessoa,tempo_emprego_pessoa,intencao_emprestimo,classe_emprestimo,valor_emprestimo,taxa_juros_emprestimo,status_emprestimo,percentual_renda_emprestimo,default_pessoa_no_arquivo,comprimento_historico_credito_pessoa
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

## verificar e contar pessoas de 20 a 30 , de 30 a 40, de 40 a 50 , de 50 a 60

In [124]:

pessoas_ate_30 = dados[dados['idade_pessoa'] <=30 ]

x = pessoas_ate_30.shape[0]

print(f'existem : {x} pessoas ate 30 anos ')

existem : 24824 pessoas ate 30 anos

In [125]:


pessoas_ate_40 = dados[(dados['idade_pessoa'] > 30) & (dados['idade_pessoa'] <= 40)]


y = pessoas_ate_40.shape[0]

print(f'Existem {y} pessoas com mais de 31 e atÃ© 40 anos.')

Existem 6263 pessoas com mais de 31 e atÃ© 40 anos.

In [126]:

pessoas_ate_50 = dados[(dados['idade_pessoa'] > 40) & (dados['idade_pessoa'] <= 50)]


a = pessoas_ate_50.shape[0]

print(f'Existem {a} pessoas de 41 e atÃ© 50 anos.')

Existem 1206 pessoas de 41 e atÃ© 50 anos.

In [129]:
pessoas_ate_60 = dados[(dados['idade_pessoa'] > 50) & (dados['idade_pessoa'] <= 60)]


b = pessoas_ate_60.shape[0]

print(f'Existem {b} pessoas com mais de 51 e atÃ© 60 anos.')

Existem 218 pessoas com mais de 51 e atÃ© 60 anos.

In [131]:
pessoas_maiores_61 = dados[(dados['idade_pessoa'] > 61)]


c = pessoas_maiores_61.shape[0]

print(f'Existem {c} pessoas maiores de 61 anos')

Existem 61 pessoas maiores de 61 anos

In [132]:
import numpy

In [134]:
dados

,idade_pessoa,renda_pessoa,propriedade_imovel_pessoa,tempo_emprego_pessoa,intencao_emprestimo,classe_emprestimo,valor_emprestimo,taxa_juros_emprestimo,status_emprestimo,percentual_renda_emprestimo,default_pessoa_no_arquivo,comprimento_historico_credito_pessoa
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [138]:
dados.describe()

,idade_pessoa,renda_pessoa,tempo_emprego_pessoa,valor_emprestimo,taxa_juros_emprestimo,status_emprestimo,percentual_renda_emprestimo,comprimento_historico_credito_pessoa
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [137]:
quartil = dados['idade_pessoa'].quantile()
quartil

np.float64(26.0)

In [140]:
media = dados['idade_pessoa'].mean()
media

np.float64(27.73459992019889)